{% extends "template.html" %} {% block body %}

<div style="align-items: center; text-align: center">
  <p id="clock"></p>

  <form action="{{ url_for('resettimer') }}" method="POST">
    <input type="submit" value="Reset" id="startbutton" />
  </form>
  <img id="screensaver" src="">
</div>

<script>
  var clock = document.getElementById("clock");

  setInterval(() => {
    fetch("{{ url_for('time_feed') }}").then((response) => {
      response.text().then((t) => {
        console.log(t);
        clock.innerHTML =
          String(Math.floor(t / 3600)).padStart(2, "0") +
          ":" +
          String(Math.floor((t % 3600) / 60)).padStart(2, "0") +
          ":" +
          String(t % 60).padStart(2, "0");
        if (t == 0) {
          window.location.replace("/done");
        }
      });
    });
  }, 1000);

  var mousetimeout;
  var screensaver_active = false;
  var idletime = 5;

  function show_screensaver() {
    $("#screensaver").fadeIn();
    document.getElementById("screensaver").src="{{ url_for('static',filename='notsogeneric1.jpg') }}"
    screensaver_active = true;
  }

  function stop_screensaver() {
    $("#screensaver").fadeOut();
    screensaver_active = false;
  }


  $(document).mousemove(function () {
    clearTimeout(mousetimeout);

    if (screensaver_active) {
      stop_screensaver();
    }

    mousetimeout = setTimeout(function () {
      show_screensaver();
    }, 1000 * idletime); // 5 secs
  });


</script>

{% endblock %}
