{% extends "template.html" %} {% block body %}

<div style="align-items: center; text-align: center">
  {% if done %}
  <div id="myModal" class="modal" onload="playSound()">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form
        action="{{ url_for('intolog') }}"
        method="POST"
        style="bottom: 30px"
      >
        <input
          type="text"
          name="desc"
          class="addtaginput"
          placeholder="What you have done"
        />
        <br>
        {% for tag in tags %}
        <label for="tag{{tag}}" style="width: 25px; height: 25px; font-size: 25px;">{{tag}}</label>
        <input type="checkbox" style="width: 25px; height: 25px" id="tag{{tag}}" name="tag{{tag}}"/>
        {% endfor %}
        <br>
        <input type="submit" id="startbutton" />
      </form>
    </div>
  </div>
  <script>
    const audio = new Audio(
      "https://cdn.discordapp.com/attachments/840481428064174081/852882092395331624/Ringtone_Acknowledging_Mix_-_Discord.mp3"
    );
    audio.play();
  </script>
  {% endif %}
  <form action="{{ url_for('loadtime') }}" method="POST">
    <input
      type="number"
      step="1"
      name="settime"
      value="30"
      id="timeinput"
      min="0"
    />
    <span id="timeinput">:</span>
    <input
      type="number"
      step="1"
      name="settimesec"
      value="0"
      id="timeinput"
      min="0"
      max="59"
    />
    <br />
    <input type="submit" value="Start!" id="startbutton" />
  </form>
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function () {
      modal.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };
  </script>
</div>

{% endblock %}
