{% extends "template.html" %}
{% block body %} 

<div style="align-items: center; text-align: center;"> 
    {% if done %}
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <form action=" {{ url_for('intolog') }} " method="POST">
              <input type="text" name="desc">
              <input type="submit" id="startbutton">
          </form>
        </div>
        
      </div>
    {% endif %}
    <form action="{{ url_for('loadtime') }}" method="POST"> 

        <input type="number" step="1" name="settime" value="30" id="timeinput" min="0">
        <span id="timeinput">:</span>
        <input type="number" step="1" name="settimesec" value="0" id="timeinput" min="0" max="59">
        <br>
        <input type="submit" value="Start!" id="startbutton">
    </form>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
</div>

{% endblock %}
