{% extends "template.html" %}
{% block body %} 

<div style="align-items: center; text-align: center;"> 
{% for k,v in logs %}
    <div class="collapsible"> 
      <button type="button" class="collapsible">{{k}}</button>
    </div>
    <div class="detailedindate"> 
        {% for i in v %} 
            <div style="padding-top:10px; padding-bottom: 10px; margin-bottom: 20px; background-color: #f1f1f1;">
              <span class="showtime">{{i['starttime']}} - {{i['endtime']}} <br> {{i['duration']}}s</span>
              <p>{{i['desc']}}</p>
            </div>  
            
        {% endfor %}
    </div> 
{% endfor %}
</div>
<script>
    var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
{% endblock %}
