{% extends "template.html" %} {% block body %}

<div style="align-items: center; text-align: center">
  <div>
    <form action="{{ url_for('addtag') }}" method="POST">
      <input
        type="text"
        name="newtag"
        class="addtaginput"
        placeholder="Add something"
      />
      <br />
      <input type="submit" value="Add Tag!" id="startbutton" />
    </form>
  </div>
</div>
<div style="align-items: center; text-align: center" id="tags">
  {% for tag in tags %}
  <span class="atag">{{tag}}</span>
  {% endfor %}
</div>

<div style="align-items: center; text-align: center; position: relative; top: 50px;">
  <input type="file"  accept="image/gif, image/jpeg, image/png" name="image" id="file" style="display: none;">


</div>

<script>
  var divtags = document.getElementById("tags");
  for (let i = 0; i < divtags.children.length; i++) {
    console.log(divtags.children[i]);
    divtags.children[i].onclick = function () {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", '/removetag', true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(
        JSON.stringify({
          value: divtags.children[i].innerHTML,
        })
      );
      divtags.removeChild(divtags.children[i])
    };
  }
</script>

{% endblock %}
