{% extends "template.html" %} {% block body %}

<div style="align-items: center; text-align: center">
  <div>
    <form action="{{ url_for('addtag') }}" method="POST">
      <input
        type="text"
        name="newtag"
        class="addtaginput"
        placeholder="Add something"
        autofocus
      />
      <br />
      <input type="submit" value="Add Tag!" id="startbutton" />
    </form>
  </div>
</div>
<div style="align-items: center; text-align: center" id="tags">
  {% for tag in tags %}
  <span class="atag">{{tag}}</span>
  {% endfor %}
</div>

<div style="align-items: center; text-align: center; position: relative; top: 50px;">
  Custom background picture
  <form method="POST" enctype="multipart/form-data" action="{{ url_for('changepic') }}">
    <input type="file" name="file1">
    <input type="Submit" value="Upload">
  </form>

</div>

<script>
  var divtags = document.getElementById("tags");
  for (let ele of divtags.children) { //posting to database for the removal of tag items

    ele.onclick = function () {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", '/removetag', true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(
        JSON.stringify({
          value: ele.innerHTML,
        })
      );

      ele.style.display = "none"
    };
  }
</script>

{% endblock %}
